---
layout: layouts/readme-en.njk
title: README
date: 2021-07-04
description: Edwin Torres
headerImage: /assets/images/blog/04.jpg
headerImageAlt: 
templateClass: tmpl-post
locale: en
translation: /es/pages/readme/
---

<style>
.content h3, .content h4 {
    padding-top: 0.75em;
    padding-bottom: .3em;
    border-bottom: 1px solid #ededed;
    scroll-margin-top: 74px;
}


</style>

<link href="/assets/css/timeline.css" rel="stylesheet" type="text/css" id="theme-opt" />
<h3 id="professional-experience-timeline">Professional experience timeline</h3>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<div class="">
    <div class="row">
        <div class="col-md-12">
            <ul class="cbp_tmtimeline">
                <li></li>

                <!-- Intelligence Center -->
                <li>
                    <time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>Sep 2020</span> <span>4 months</span></time>
                    <div class="cbp_tmicon bg-info"><i data-feather="folder" class="fea"></i></div>
                    <div class="cbp_tmlabel">
                        <span>Consulting project with</span>
                        <h5 class="mb-0"><a href="javascript:void(0);">Intelligence Center</a></h5>
                        <span class="text-muted d-block mb-2">as Consultant Software Engineer at 18F</span>
                        
                        <span>18F helped leadership and technical staff with actionable paths to improve data discovery and better serve the agency’s mission. After user research which included joint mapping sessions, we recommended a data-centric product strategy paired with collaboration through working groups to support data development and maintenance. This environment creates opportunities for innovative data science and machine learning analytical capabilities.</span>

                        <h6 class="mt-2">DUTIES AND RESPONSIBILITIES</h6>
                        <ul>
                            <li>Collaborated in a cross-functional team with designers, engineers, and strategists.</li>
                            <li>Collaborated in user research interviews.</li>
                            <li>Conducted user map sessions to document systems, data flows, and interactions.</li>
                            <li>Reviewed and evaluated qualitative data to deliver impactful user research that will inform decisions for key areas of a data strategy.</li>
                            <li>Collaborated on synthesize research findings into actionable insights and recommendations that stakeholders can act upon.</li>
                            <li>Contributed to writing a roadmap, recommendations, and the final report.</li>
                        </ul>

                    </div>
                </li>

                <!-- New role as Software Engineer at 18F -->
                <li>
                    <time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>Sep 2020</span> <span>until now</span></time>
                    <div class="cbp_tmicon bg-dark"><i data-feather="user" class="fea"></i></div>
                    <div class="cbp_tmlabel">
                        <span>Started as Software Engineer at</span>
                        <h5><a href="https://18f.gsa.gov/">18F</a></h5>
                        
                        <p>18F is an office of federal employees within the General Services Administration (GSA) that collaborates with other agencies to fix technical problems, build products, and improve how government serves the public through technology. 18F is part of the Technology Transformation Services, which is within the Federal Acquisition Service.</p>

                        
                        {# <h6 class="mt-2">Our mission</h6>
                            <p>We envision a country whose government consistently offers digital services that instill pride and trust, meet user needs, are secure, and are delivered quickly and at reasonable cost.</p>

                            <p>We develop partnerships with agencies to help them deliver exceptional digital experiences that address their strategic initiatives. Through our work together, we also aim to strengthen government technology practices in ways that last beyond our formal partnerships. We effect change by practicing user-centered development, testing to validate hypotheses, shipping often, and deploying products in the open.</p> #}
                        
                        <h6 class="mt-2">DUTIES AND RESPONSIBILITIES</h6>
                        <span>
                        <ul>
                            <li>Partnered with agencies to assess needs, experiment, and iterate user-centered solutions.</li>
                            <li>Collaborated with the Business Development team on leads, calls with potential partners, and evaluations.</li>
                            <li>Collaborated with the recruiting team interviewing new candidates.</li>
                            <li>Collaborated in writing a blog post about user-centered data strategy.</li>
                        </ul>
                        </span>
                    </div>
                </li>

                <!-- New role as Product Manager -->
                <li>
                    <time class="cbp_tmtime" datetime=""><span>Jul 2019</span> <span>1 yr 1 mo</span></time>
                    <div class="cbp_tmicon bg-warning"><i data-feather="user" class="fea"></i></div>
                    <div class="cbp_tmlabel">
                        <span class="text-muted">Started as </span>
                        <span>Product Manager</span>
                        <span class="text-muted"> at</span>
                        <h5><a href="https://nagnoi.com/">Nagnoi</a></h5>
                        
                        <span>Nagnoi's mission is to impact lives through data. Nagnoians work hard to help Puerto Rico have healthier and better-educated communities using data as the primary tool to accomplish this mission.</span>

                        <h6 class="mt-2">DUTIES AND RESPONSIBILITIES</h6>
                        <p>As a product manager, create a buy-in for the product vision (Data Cognition), lead efforts to develop a prototype, a minimum viable product, and the first version of the product with a tenant on production.</p>
                        <p>As a team leader, improved agile and quality processes by implementing Code Review and Continuous Integration Continuous Deployment  practices.</p>
                        <p>As a member of the community founded the Nagnoi Corporate Social Responsibility Committee and made the first collaboration of Nagnoi with the University of Puerto Rico in a capstone project and a Co-op internship.</p>

                        <h6 class="mt-2">PRODUCT MANAGER</h6>
                        <ul>
                            <li>Led product efforts from vision down to requirements to implementation, working with stakeholders to define features and create an integrated solution.</li>
                            <li>Enhance roadmap with continuous improvements and incorporating new functionality to create a unique proposition for the product.</li>
                            <li>Create a strategy supporting product goals and market risks.</li>
                            <li>Scope and prioritize activities based on user impact and needs.</li>
                            <li>Flesh out ideas with wireframes, mockup designs, performance, and benefit estimates and present these ideas for review.</li>
                            <li>Determine how we can transform existing data sets to generate more value.</li>
                            <li>Create buy-in for the product vision with stakeholders.</li>
                            <li>Worked with engineers and other stakeholders to define the roadmap, product requirements, and ship features regularly.</li>
                        </ul>
                        <h6 class="mt-2">TEAM LEADER</h6>
                        <ul>
                            <li>Led an international distributed, multidisciplinary agile team to develop a deploy data analytics applications.</li>
                            <li>Introduced code review sessions to the team to improve quality and better development practices.</li>
                            <li>Promoted DevOps practices to accelerate agile development, created the first continuous integration and deployment (CI/CD) pipeline to a production environment in Nagnoi.</li>
                            <li>Create a safe environment for engineers to ask questions.</li>
                            <li>Changed the distributed version-control from TFS to Git, to accelerate the code merge and code review processes.</li>
                            <li>Recruited, trained, and mentored new hires.</li>
                            <li>Work with the data engineering and data science teams to model and understand the data sets.</li>
                        </ul>
                        <h6 class="mt-2">MEMBER OF THE COMMUNITY</h6>
                        <ul>
                            <li>Founded the Nagnoi Corporate Social Responsibility committee; we assisted disadvantaged communities with training and technical support.</li>
                            <li>Started the first Nagnoi collaboration with the University of Puerto Rico in a Capstone project.</li>
                            <li>Promoted and collaborate with the first Co-op internship program in Nagnoi.</li>
                        </ul>
                    </div>
                </li>

                <!-- Department of Education -->
                <li>
                    <time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>May 2018</span> <span>1 yr 8 mos</span></time>
                    <div class="cbp_tmicon bg-info"><i data-feather="folder" class="fea"></i></div>
                    <div class="cbp_tmlabel">
                        <span>Project with</span>
                        <h5 class="mb-0"><a href="javascript:void(0);">Puerto Rico Department of Education</a></h5>
                        <span class="text-muted d-block mb-2">as Senior Consultant at Nagnoi</span>

                        <span>As a Mission, the Department of Education must guarantee a free and non-sectarian education that develops the attitudes, skills, and knowledge of all students to prepare them to perform successfully in a globalized labor market and competently and creatively to the challenges of the modern world, independent, lifelong learners, respectful of the law and the natural environment, and capable of contributing to the common welfare.</span>

                        <h6 class="mt-2">DUTIES AND RESPONSIBILITIES</h6>
                        <span>
                            Led technical teams in charge of initiatives like the School Report Card, the development of the new assessment data mart, and putting in production the School Dropouts Predictive Model.
                        </span>

                        <h6 class="mt-2">CONSULTING SOFTWARE AND DATA ENGINEER</h6>
                        <ul>
                            <li>Led a multidisciplinary development team with web developers, data engineers, and data scientists on the School Report Card modernization efforts.</li>

                            <li>Collaborated with the product owner and subject matter experts in the iterative design process of the School Report Card.</li>
                            <li>Served as lead architect for the team in charge of building a new assessment data mart, reviewing the design and the development process.</li>
                            <li>Assisted the put on production and the maintenance of the School Dropout Predictive Model.</li>
                            <li>Offered technical training sessions to statisticians of the Department of Education in methods for self-serving reports using tools like Power BI and Excel.</li>
                        </ul>

                        <h6 class="mt-2">SELECTED WORK</h6>
                        <ul>
                            <li>Puerto Rico School Report Card 2019-2020, <a href="http://perfilescolar.dde.pr" target="_blank">perfilescolar.dde.pr</a></li>
                            <li>Puerto Rico School Report Card 2018-2019, <a href="http://schoolreportcard.azurewebsites.net" target="_blank">schoolreportcard.azurewebsites.net</a></li>
                        </ul>

                        <h6 class="mt-2">TECHNICAL SKILLS</h6>
                        <ul>
                            <li>JavaScript, Python, Azure, Azure DevOps, SQL Server, NodeJS, R</li>
                        </ul>
                    </div>
                </li>

                <!-- Triple-S -->
                <li>
                    <time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>Sep 2017</span> <span>8 months</span></time>
                    <div class="cbp_tmicon bg-info"><i data-feather="folder" class="fea"></i></div>
                    <div class="cbp_tmlabel">
                        <span>Project with</span>
                        <h5 class="mb-0"><a href="javascript:void(0);">Triple-S</a></h5>
                        <span class="text-muted d-block mb-2">as Consultant at Nagnoi</span>

                        <span>Triple-S mission is to take better care of their customer's health, well-being, and peace of mind during life’s expected and unexpected events.</span>

                        <h6 class="mt-2">DUTIES AND RESPONSIBILITIES</h6>
                        <span>
                            Collaborate in the development and maintenance of the data pipelines (ETL) for morbid diseases.
                        </span>

                        <h6 class="mt-2">DATA ENGINEERING</h6>
                        <ul>
                            <li>The ETL process time for load data of morbid diseases was optimized by 80%.</li>
                            <li>Developed an interface between the Data Warehouse and the Milliman Grouper Classification.</li>
                        </ul>

                        <h6 class="mt-2">TECHNICAL SKILLS</h6>
                        <ul>
                            <li>SQL, SQL Server Integration Services (SSIS), and batch scripts were used for development.</li>
                        </ul>
                    </div>
                </li>

                <!-- CFSE -->
                <li>
                    <time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>Jan 2005</span> <span>2 yrs 8 mos</span></time>
                    <div class="cbp_tmicon bg-info"><i data-feather="folder" class="fea"></i></div>
                    <div class="cbp_tmlabel">
                        <span>Project with</span>
                        <h5 class="mb-0"><a href="javascript:void(0);">CFSE – State Insurance Fund Corp.</a></h5>
                        <span class="text-muted d-block mb-2">as Consultant at Nagnoi</span>

                        <span>Puerto Rico State Insurance Fund's mission is to promote the well-being of the inhabitants of Puerto Rico, in relation to work accidents that cause injury, illness or death.</span>

                        <h6 class="mt-2">DUTIES AND RESPONSIBILITIES</h6>
                        <span>
                            Collaborate as the team data engineer and architect for different solutions implemented in this client.
                        </span>

                        <h6 class="mt-2">SOLUTIONS ARCHITECT</h6>
                        <ul>
                            <li>Designed and implemented an entity resolution system to merge employer data from the Department of Labor and the State Insurance Fund to identify registered employers without mandatory insurance policy.</li>
                            <li>Developed a web application to verify the merge employer data.</li>
                            <li>Developed and maintained the enterprise Business Intelligence solution.</li>
                        </ul>

                        <h6 class="mt-2">TECHNICAL SKILLS</h6>
                        <ul>
                            <li>Used SQL Server to build the data warehouse and SQL Server Analysis Services for the multi-dimensional data model used in the self-serving reports. Used C# to create the web application for review merged data.</li>
                        </ul>
                    </div>
                </li>

                <!-- GFR -->
                <li>
                    <time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>Apr 2013</span> <span>1 yr 9 mos</span></time>
                    <div class="cbp_tmicon bg-info"><i data-feather="folder" class="fea"></i></div>
                    <div class="cbp_tmlabel">
                        <span>Project with</span>
                        <h5 class="mb-0"><a href="javascript:void(0);">GFR Media</a></h5>
                        <span class="text-muted d-block mb-2">as Consultant at Nagnoi</span>

                        <span>GFR Media is a leader in Puerto Rico's digital media, mobile, and newspaper industries. They have big data sources that contain data of clients, partners, readers, market behavior, among others.</span>

                        <h6 class="mt-2">DUTIES AND RESPONSIBILITIES</h6>
                        <span>
                            Led the development team responsible for building the Corporate Data Warehouse.
                        </span>

                        <h6 class="mt-2">SOLUTIONS ARCHITECT</h6>
                        <ul>
                            <li>Successfully led the development team to complete the project on time and getting an excellent evaluation from the client.</li>
                            <li>This project made it so that Nagnoi was awarded the recognition of Microsoft Partner of the Year 2014 in Latin America and The Caribbean.</li>
                            <li>Designed the solution that integrates data from over 25 sources that include corporate systems and external applications like Google, Facebook, and Mailchimp.</li>
                            <li>Developed the entity resolution system that merges customer and sales data from 20+ systems.</li>
                            <li>The Corporate Data Warehouse helps GFR Media to create a new business model, improves processes, reduces costs, and increases customer satisfaction.</li>
                        </ul>

                        <h6 class="mt-2">TECHNICAL SKILLS</h6>
                        <ul>
                            <li>SQL Server was used to develop the data warehouse, the ETLs, and the analytical models (multidimensional cubes). Excel and SharePoint to create the dashboards.</li>
                        </ul>
                    </div>
                </li>

                <!-- Started as Senior Consultant -->
                <li>
                    <time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>Apr 2013</span> <span>6 yrs 8 mos</span></time>
                    <div class="cbp_tmicon bg-warning"><i data-feather="user" class="fea"></i></div>
                    <div class="cbp_tmlabel">
                        <span class="text-muted">Started as </span>
                        <span>Senior Consultant</span>
                        <span class="text-muted"> with</span>
                        <h5><a href="https://nagnoi.com/">Nagnoi</a></h5>

                        <span>Nagnoi's mission is to impact lives through data. Nagnoians work hard to help Puerto Rico have healthier and better-educated communities using data as the primary tool to accomplish this mission.</span>
                        

                        <h6 class="mt-2">DUTIES AND RESPONSIBILITIES</h6>
                        <p>As a senior consulting engineer, maintained constant communication with the customer, stakeholders, and team members to manage priorities, scope, and expectations.</p>
                        <p>Designed, developed, and led teams to deliver data applications for clients in different industries and vertical markets.</p>
                        <ul>
                            <li>Oversee communication, budgets, requests, and priorities; coordinating with our team to ensure we exceed the client's expectations.</li>
                            <li>Designed and led the development team of a web application with data and dashboards from the public education system of Puerto Rico.</li>
                            <li>Designed an entity resolution application used for a newspaper publisher and a work insurance company.</li>
                            <li>Manage timetables, task assignments, and prioritization.</li>
                            <li>Mentored and guided junior team members.</li>
                            <li>Analyze and evaluate how the business requirements fit into the technical solution.</li>
                            <li>Perform evaluations to team members.</li>
                            <li>Offered technical training sessions to statisticians and other users.</li>
                        </ul>

                    </div>
                </li>

                <!-- MWB -->
                <li>
                    <time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>Mar 2010</span> <span>3 yr 7 mos</span></time>
                    <div class="cbp_tmicon bg-info"><i data-feather="folder" class="fea"></i></div>
                    <div class="cbp_tmlabel">
                        <span>Personal project </span>
                        <h5 class="mb-0"><a href="javascript:void(0);">MWB</a></h5>
                        <span class="text-muted d-block mb-2"></span>

                        <p>
                        In 2010, looking for new technologies to explore, I began the first Spanish blog about Windows Phone. It started as a blog for developers, but later expanded to touch issues concerning the community growing around this platform. Over the years I spent working on this blog, the follower count increased around all Latinamerica and Spain reaching 100 thousand people.
                        </p>
                        <p>
                        Due to the recognition achieved by the blog I was invited to give technical presentations on the subject, participate in press conferences, product launches and met many developers around the world.
                        </p>

                    </div>
                </li>

                <!-- CHSC -->
                <li>
                    <time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>Jan 2012</span> <span>1 yr 3 mos</span></time>
                    <div class="cbp_tmicon bg-info"><i data-feather="folder" class="fea"></i></div>
                    <div class="cbp_tmlabel">
                        <span>Project with</span>
                        <h5 class="mb-0"><a href="javascript:void(0);">Correctional Health Services Corp.</a></h5>
                        <span class="text-muted d-block mb-2">as Consultant at Nagnoi</span>

                        <span>Correctional Health Services Corp. (CHSC) was the private not-for-profit entity in charge of the design, administration, and operation of the Puerto Rico correctional system.</span>

                        <h6 class="mt-2">DUTIES AND RESPONSIBILITIES</h6>
                        <p>
                            Technical architect and developer of the Business Intelligence Solution for CHSC. Around 10 executive Dashboards were created as a result of the project. One of them was created for the CEO.
                        </p>
                        <p>
                            In this solution were integrated data from the Electronic Medical Record, Pharmacy System, Digital Radiology, Dental Information System, Laboratory, and Medicine Delivery.
                        </p>

                        <h6 class="mt-2">TECHNICAL SKILLS</h6>
                        <ul>
                            <li>SQL Server was used to develop the data warehouse, the ETLs, and the analytical models (multidimensional cubes). Reporting Services and SharePoint to create the dashboards.</li>
                        </ul>
                    </div>
                </li>

                <!-- CFSE -->
                <li>
                    <time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>Aug 2010</span> <span>1 yr 5 mos</span></time>
                    <div class="cbp_tmicon bg-info"><i data-feather="folder" class="fea"></i></div>
                    <div class="cbp_tmlabel">
                        <span>Project with</span>
                        <h5 class="mb-0"><a href="javascript:void(0);">CFSE – State Insurance Fund Corp.</a></h5>
                        <span class="text-muted d-block mb-2">as Consultant at Nagnoi</span>

                        <span>Puerto Rico State Insurance Fund's mission is to promote the well-being of the inhabitants of Puerto Rico, in relation to work accidents that cause injury, illness or death.</span>

                        <h6 class="mt-2">DUTIES AND RESPONSIBILITIES</h6>
                        <p>
                           Worked gathering user requirements, documenting business processes, and creating early automation designs. In addition, he developed forms and reports on Business Process Software Case 360. As part of this job, he works on creating custom JSP, tables, and relation for enriching functionalities.
                        </p>

                        <h6 class="mt-2">TECHNICAL SKILLS</h6>
                        <ul>
                            <li>JavaServer Pages was used to create custom pages in the Case360 software.</li>
                        </ul>
                    </div>
                </li>

                <!-- MMM -->
                <li>
                    <time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>Jan 2010</span> <span>7 months</span></time>
                    <div class="cbp_tmicon bg-info"><i data-feather="folder" class="fea"></i></div>
                    <div class="cbp_tmlabel">
                        <span>Project with</span>
                        <h5 class="mb-0"><a href="javascript:void(0);">MMM Healthcare</a></h5>
                        <span class="text-muted d-block mb-2">as Consultant at Nagnoi</span>

                        <span>Edwin acted as an ETL Jobs developer for Medicare y Mucho Más (MMM) a medical insurance company, using IBM Data Stage software. The jobs extract data from 3 systems and integrate them on a central data warehouse built with SQL Server. He was responsible for the creation of jobs that move data from the Loading database to the data warehouse.</span>

                    </div>
                </li>

                <!-- Novus -->
                <li>
                    <time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>Jul 2009</span> <span>6 months</span></time>
                    <div class="cbp_tmicon bg-info"><i data-feather="folder" class="fea"></i></div>
                    <div class="cbp_tmlabel">
                        <span>Project with</span>
                        <h5 class="mb-0"><a href="javascript:void(0);">Novus Inc.</a></h5>
                        <span class="text-muted d-block mb-2">as Consultant at Nagnoi</span>

                        <span>He worked as a developer on the Novus Analytic and Planning System (NAPS), a project for Novus, Inc. This system is used to planning and monitoring the company’s sales. His main responsibilities were to develop jobs to extract data from SAP and integrating this data in a data warehouse. Also, he worked in the development of the Profit and Lost Report and collaborated in the construction of the Open to Buy Report. This solution has been created using Microsoft SQL Server 2008 technologies including SQL Server, Integration Services (SSIS), and Analysis Services for the back-end and Reporting Services, SharePoint Portal Server, Performance Point, and MS Excel for the front-end. The DW will give users the capability of tracking retail sales and profit information in an integrated manner.</span>

                    </div>
                </li>

                <!-- Puerto Rico Tourism Company -->
                <li>
                    <time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>Jul 2007</span> <span>2 yrs 2 mo</span></time>
                    <div class="cbp_tmicon bg-info"><i data-feather="folder" class="fea"></i></div>
                    <div class="cbp_tmlabel">
                        <span>Project with</span>
                        <h5 class="mb-0"><a href="javascript:void(0);">Puerto Rico Tourism Company</a></h5>
                        <span class="text-muted d-block mb-2">as Consultant at Nagnoi</span>

                        <span>The Puerto Rico Tourism Company has the mission of create and ease the implementation of public policy in order to make Puerto Rico a main and unique destination within the world tourism market.</span>

                        <h6 class="mt-2">DUTIES AND RESPONSIBILITIES</h6>
                        <span>
                            Served as the lead analyst and developer of the Business Intelligence System for the Puerto Rico Tourism Company (TOURS-BI). This system integrates information from several divisions that were dispersed across the company. His responsibilities include documenting information requirements, designing logical and physical database star schemas, development of Integration Services packages to extract, load, and transform data from disparate source systems, as well as the development of analytical views and reports for the Statistics, Room Tax, Quality, Planning, Financial Incentives & Investment, and Tourist Transportation divisions. Edwin also collaborates in the construction of the DW for the Statistics, Information Center, and Quality divisions.
                        </span>

                        <h6 class="mt-2">TECHNICAL SKILLS</h6>
                        <ul>
                            <li>This solution has been created using Microsoft SQL Server 2005 technologies including SQL Server, Integration Services (SSIS), and Analysis Services for the back-end and Reporting Services, SharePoint Portal Server, Pro-Clarity (Performance Point), and MS Excel Services for the front-end. The DW will give users the capability of tracking tourism information in an integrated manner.</li>
                        </ul>
                    </div>
                </li>

                <!-- New role as Consultant -->
                <li>
                    <time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>Jul 2007</span> <span>5 yrs 9 mos</span></time>
                    <div class="cbp_tmicon bg-warning"><i data-feather="user" class="fea"></i></div>
                    <div class="cbp_tmlabel">
                        <span class="text-muted">Started as </span>
                        <span>Consultant</span>
                        <span class="text-muted"> with</span>
                        <h5><a href="https://nagnoi.com/">Nagnoi</a></h5>
                        
                        <span>Nagnoi's mission is to impact lives through data. Nagnoians work hard to help Puerto Rico have healthier and better-educated communities using data as the main tool to accomplish this mission.</span>

                        <h6 class="mt-2">DUTIES AND RESPONSIBILITIES</h6>
                        <ul>
                            <li>Worked gathering user requirements, documenting business processes, documenting technical artifacts, and creating early automation designs.</li>
                            <li>Collaborated in the building of Data Warehouses, ETLs, Reports, and Multidimensional models.</li>
                            <li>Collaborated on training sessions and final presentations.</li>
                        </ul>

                    </div>
                </li>

                <!-- J&J -->
                <li>
                    <time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>Jul 2006</span> <span>8 months</span></time>
                    <div class="cbp_tmicon bg-danger"><i data-feather="user" class="fea"></i></div>
                    <div class="cbp_tmlabel">
                        <span class="text-muted">Started as </span>
                        <span>Co-op/Intern</span>
                        <span class="text-muted"> with</span>
                        <h5 class="mb-0"><a href="javascript:void(0);">Johnson & Johnson</a></h5>
                        <span class="text-muted d-block mb-2">as Software Developer</span>

                        
                        <p>Defined and documented user and functional requirements of a manufacturing application upgrade. Started early implementation of the upgrade. The project's objective was to streamline the flow of the input stage to make it more agile.</p>

                        <p>Collaborated with HR personnel on college recruitment activities and community service.</p>

                    </div>
                </li>

            </ul>  
        </div>
    </div>
</div>