    <!-- Hero Start -->
    <section class="bg-profile d-table w-100 bg-primary" style="background: url('{{ headerImage }}') top center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card public-profile border-0 rounded shadow" style="z-index: 1;">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-md-3 text-md-start text-center">
                                    {# <img src="/assets/images/profile.jpg" class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt=""> #}
                                    {% img 
                                        input = "/assets/images/profile.jpg" | url,
                                        width = 240,
                                        alt = "Profile pircture",
                                        className = "avatar avatar-large rounded-circle shadow d-block mx-auto"
                                    %}
                                </div><!--end col-->

                                <div class="col-lg-10 col-md-9">
                                    <div class="row align-items-end">
                                        <div class="col-md-7 text-md-start text-center mt-4 mt-sm-0">
                                            <h3 class="title mb-0">Edwin Torres</h3>
                                            <small class="text-muted h6 me-2">{{ collections.t[locale].engineer }}</small>
                                            <ul class="list-inline mb-0 mt-3">
                                                <li class="list-inline-item-social-media"><a href="{{ metadata.author.linkedin }}" class="text-muted" title="Linkedin"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                                                <li class="list-inline-item-social-media"><a href="{{ metadata.author.github }}" class="text-muted" title="Github"><i data-feather="github" class="fea icon-sm fea-social"></i></a></li>
                                                <li class="list-inline-item-social-media"><a href="{{ metadata.author.bluesky }}" class="text-muted" title="Bluesky"><i data-feather="bluesky" class="fea icon-sm fea-social"></i></a></li>
                                            </ul>
                                        </div><!--end col-->
                                        <div class="col-md-5 text-md-end text-center">
                                            <ul class="list-unstyled social-icon social mb-0 mt-4">
                                                {# <li class="list-inline-item"><a href="javascript:void(0)" class="rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Add Friend" aria-label="Add Friend"><i class="uil uil-user-plus align-middle"></i></a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Messages" aria-label="Messages"><i class="uil uil-comment align-middle"></i></a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Notifications" aria-label="Notifications"><i class="uil uil-bell align-middle"></i></a></li>
                                                <li class="list-inline-item"><a href="account-setting.html" class="rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Settings" aria-label="Settings"><i class="uil uil-cog align-middle"></i></a></li> #}
                                            </ul><!--end icon-->
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--ed container-->
    </section>
    <!-- Hero End -->