    <!-- Hero Start -->
    <section class="bg-half bg-light d-table w-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="page-next-level">
                        <h2 class="title"> {{ title or metadata.title }} </h2>
                        <ul class="list-unstyled mt-4 mb-0">
                                <li class="list-inline-item h6 user text-muted me-2"><i class="mdi mdi-account"></i> {{ author }}</li>
                                <li class="list-inline-item h6 date text-muted"><i class="mdi mdi-calendar-check"></i> {{ date | readableDate }}</li>
                            </ul>
                        <div class="page-next">

                            {# <nav aria-label="breadcrumb" class="d-inline-block">
                                {% set navPages = collections.all | eleventyNavigationBreadcrumb("Blog") %}
                                <ul class="breadcrumb bg-white rounded shadow mb-0">
                                    {%- for entry in navPages %}
                                        <li class="breadcrumb-item">
                                            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                                        </li>
                                    {%- endfor %}
                                    <li class="breadcrumb-item active" aria-current="page">{{ title or metadata.title }}</li>
                                </ul>
                            </nav> #}
                        </div>
                    </div>
                </div>  <!--end col-->
            </div><!--end row-->
        </div> <!--end container-->
    </section><!--end section-->
    <!-- Hero End -->

    {% include "shared/shape.njk" %}