        <!-- Hero Start -->
        <section class="bg-home rtl-personal-hero bg-light d-flex align-items-center" style="background:url('/assets/images/home/caborojo.jpg') top center" id="home">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-9">
                        <div class="title-heading mt-4">
                            <h1 class="display-3 fw-bold mb-3">{{ collections.t[locale].heroCallout }} <span class="typed-personal"></span> </h1>
                            <p class="para-desc ">{{ collections.t[locale].heroSupport }}</p>
                            <div class="mt-4 pt-2">
                                <a href="/about-me/" class="btn btn-primary mt-2 me-2 mouse-down"><i class="uil uil-user-circle"></i> {{ collections.t[locale].aboutMe }}</a>
                                <a href="https://1drv.ms/b/s!AlC3eieT0MP5uYUixv2Qe_wlPqqY3A?e=hCO2q7" class="btn btn-outline-primary mt-2 mouse-down"><i class="uil uil-file-download-alt"></i> {{ collections.t[locale].resume }}</a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Hero End -->
        <div id="typedMessage1" class="d-none">{{ collections.t[locale].typedMessage1 }}</div>
        <div id="typedMessage2" class="d-none">{{ collections.t[locale].typedMessage2 }}</div>
        <div id="typedMessage3" class="d-none">{{ collections.t[locale].typedMessage3 }}</div>
        <div id="typedMessage4" class="d-none">{{ collections.t[locale].typedMessage4 }}</div>
        <div id="typedMessage5" class="d-none">{{ collections.t[locale].typedMessage5 }}</div>