<br/>
<!-- Pagination Start -->
<div class="col-12">
    <ul class="pagination justify-content-center mb-0">
      {%- set localizedPosts = collections.posts | byLocale(locale) %}
      {%- set previousPost = localizedPosts | getPreviousCollectionItem(page) %}
      <li class="page-item"> {%- if previousPost %}<a class="page-link" href="{{ previousPost.url | url }}" aria-label="Previous">{{ previousPost.data.title }}</a></li>{% endif %}
      {%- set nextPost = localizedPosts | getNextCollectionItem(page) %}
      <li class="page-item"> {%- if nextPost %}<a class="page-link" href="{{ nextPost.url | url }}" aria-label="Next">{{ nextPost.data.title }}</a></li>{% endif %}
    </ul>
</div>
<!-- Pagination End -->