    <!-- JS Includes -->

    <!-- Third-party Libraries -->
    <script src="{{ '/assets/vendor/js/bootstrap.bundle.min.js' | hash }}"></script>
    <script src="{{ '/assets/vendor/js/fuse.min.js' | hash }}"></script>

    <!-- Icons -->
    <script src="{{ '/assets/vendor/js/feather.min.js' | hash }}"></script>
    
    <!-- Theme Js -->
    <script src="{{ '/assets/vendor/js/theme.js' | hash }}"></script>

    <!-- App Js -->
    <script src="{{ '/assets/js/app.js' | hash }}"></script>
    <script src="{{ '/assets/js/contentForSearch.js' | hash }}"></script>