    <!-- JS Includes -->

    <!-- Third-party Libraries -->
    <script src="/assets/vendor/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/js/fuse.min.js"></script>

    <!-- Icons -->
    <script src="/assets/vendor/js/feather.min.js"></script>
    
    <!-- Theme Js -->
    <script src="/assets/vendor/js/theme.js"></script>

    <!-- App Js -->
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/contentForSearch.js"></script>