<!-- TAG CLOUDS -->
<div class="widget mt-4 pb-2">
    <h5 class="widget-title">{{ collections.t[locale].tagsCloud }}</h5>
    
    <div class="tagcloud mt-2">
        {% for tag in collections.tagList %}
            {% if tag and tag | length > 0 %} 
                {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <a href="{{ tagUrl | url }}" class="rounded">{{ tag }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
<!-- TAG CLOUDS -->

         

