---
layout: layouts/base.njk
---

    {% include "shared/navbar-header-overlay.njk" %}

    {% include "shared/hero-home.njk" %}

    {{ content | safe }}

    {% include "shared/script-home.njk" %}

