---
layout: layouts/base-header-profile.njk
---

<!-- Content-Section Start -->
<section class="section mt-60">
    <div class="container {% if templateClass %} {{ templateClass }}{% endif %}">
        <div class="row">

            <!-- Content Start -->
            <div class="col-lg-8 col-md-6">

                <div class="card blog blog-detail border-0 shadow rounded">
                    <div class="card-body content">

                        {% markdown %}
                        {%- include "md/en/readme-intro.md" -%}
                        {% endmarkdown %}
                        
                        <h3 class="">Table of Content</h3>
                        {{ content | toc | safe }}  
                        
                        {{ content | safe }}
                        
                    </div>
                </div>

            </div><!--end col-->
            <!-- Content End -->

            {% include "shared/sidebar.njk" %}

        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Content-Section End -->



