---
layout: layouts/base-header-profile.njk
---

<!-- Content-Section Start -->
<section class="section mt-60">
    <div class="container {% if templateClass %} {{ templateClass }}{% endif %}">
        <div class="row">

            <!-- Content Start -->
            <div class="col-lg-8 col-md-6">

                <div class="card blog blog-detail border-0 shadow rounded">
                    <div class="card-body content">

                        <p>
                            ¡Hola! My name is Edwin Torres or Edwin Torres Hernández or Edwin Torres-Hernandez or just Edwin. I'm a father of two, a boricua (Puerto Rican), and the husband of a minister of Presbyterian Church (U.S.A.). My mother tongue is Spanish, but I learned English during my twenties. My pronouns are he/él.
                        </p>

                        <h3 class="">Table of Content</h3>
                        {{ content | toc | safe }}  
                        
                        {{ content | safe }}
                        
                    </div>
                </div>

            </div><!--end col-->
            <!-- Content End -->

            {% include "shared/sidebar.njk" %}

        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Content-Section End -->



