---
layout: layouts/blog.njk
title: Blog
eleventyNavigation:
  key: Blog
  parent: en
  order: 3
locale: en
translation: /es/blog/
pagination:
  data: collections.posts
  size: 6
---

{# {% set postslist = collections.posts %} #}
{% set postslist = pagination.items %}
{% include "shared/posts-list.njk" %}


{% include "shared/pagination-blog.njk" %}