---
layout: layouts/blog.njk
title: Blog
eleventyNavigation:
  key: Blog
  parent: en
  order: 3
locale: en
translation: /es/blog/
pagination:
  data: collections.posts_en
  size: 6
  reverse: true
---

{% set postslist = pagination.items | reverse %}
{% include "shared/posts-list.njk" %}


{% include "shared/pagination-blog.njk" %}