---
layout: layouts/blog.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
eleventyNavigation:
  key: Tags
  parent: Blog
  order: 3
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
locale: en
permalink: /tags/{{ tag }}/
---

{% set postslist = collections[ tag ] %}
{% include "shared/posts-list.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
